@import url('https://fonts.googleapis.com/css2?/family=Outfit:wght@400;700&display=swap')
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    outline:none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: [Outfit], sans-serif;
}

:root {
    
    white:  hsl (0, 0%, 100%)
    Light-gray hsl(212, 45%, 89%)
    Grayish blue hsl(220, 15%, 55%)
    Dark-blue hsl(218, 44%, 22%)


}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(lightgray);

}
.card{
    width: 320px;
    background: var(white-space);
    border-radius: 20px;
    padding: 16px;
    &.card-image img {width: 100%;
    display: block;}
}